


@font-face {
    font-family: 'EkkamaiNew';
    src: local('EkkamaiNew'),url(./font/EkkamaiNew/EkkamaiNew-Bold.ttf) format('truetype') ;

}

.global-font { 
    font-family: 'EkkamaiNew' ;
    font-size:larger ;
    font-weight: 1000;
}
